/*Recip Assignment*/
body {
    font-family: sans-serif;
    background: #f8fafc;
    padding: 30px;
    margin: 0;
}

/*ID Selector*/
#recipe_title {
    text-align: center;
    border-style: groove;
    border-color: black;
    border-top: 0cap;
    border-right: 0cap;
    border-left: 0cap;
}

.columns {
    display: flex;
    flex-direction: row;

}


/*------------------------- */


.nav {
    display: flex;
    flex-direction: row;
}



img {
    width: 85%
}

.red {
    color: red;
}

.italic {
    font-style: italic;
}

.red.italic {
    font-style: italic;
    color: red;

}