
.nav {
display: flex;
flex-direction: row;


}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    
}

img {
    width: 85%
}
.red {
    color: red;
}
.italic {
    font-style: italic;
}
.red.italic {
    font-style: italic;
    color: red;

}