@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: PT Sans;
    src: url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}

/*----------------------------------------------------------*/
.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/*         Seismo Page CSS   -----------------------------------            */
.seismo {
    margin-left: 10%;
    margin-right: 10%;
    background-image: linear-gradient(90deg,rgb(12, 4, 13),rgb(1, 1, 80));
    color: aliceblue;
}

/*--------------------------------------------------*/





body {
    font-family: "PT Sans", sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

/*Recipe Assignment CSS */
.recipe_header {
    text-align: left;
    font-family: sans-serif;
    border-style: groove;
    border-top: 0cap;
    border-right: 0cap;
    border-left: 0cap;
    padding-top: 20px;
}

.columns {
    /*Been playing with flex for a couple of weeks trying to figure it out
    Still working on understanding display:grid: 
    */
    background-color: beige;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-content: center;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    border-style: outset;

}

.columns #recipe {
    width: 50%;
    font-size: larger;
    text-align: left;
    padding: 5%;

}

.columns #recipe ul {
    text-align: left;
    font-size: larger;
}

.columns .recipe_img {
    width: 50%;
    padding-top: 8%;
    height: fit-content;
}

.recipe_img>img {

    width: 85%
}

.recipe_img {
    width: 100%;
}

/*------------------------------------------------------------------ */

/*Menu Bar CSS*/
.nav {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}



.red {
    color: red;
}

.italic {
    font-style: italic;
}

.red.italic {
    font-style: italic;
    color: red;

}